name: "Hello world workflow"
# controls when action will run. Triggers the workflow on push or pull request events but only for
# the master branch
on:
  push:
    branches:
      - main
      - master

jobs:
   hello_world:
    runs-on: ubuntu-latest
    steps:
      - name: "Print Hello world "
        run: echo "Hello world!"

      - name: "Print current date"
        run: date   