name: "Multi Event Pipeline Workflow"

on:
  push:
    branches:
      - main
      - master

  pull_request:
    branches:
      - main
      - master
    types:
      - closed

jobs:

  on-push:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: "Running on push"
        run: echo "Running on push event!"

  on-pull-request:
    if: github.event_name == 'pull_request' && github.event.action != 'closed'
    runs-on: ubuntu-latest
    steps:
      - name: "Running on pull request (opened/updated)"
        run: echo "Running on pull request (not closed)!"

  on-pull-request-closed:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    steps:
      - name: "Running on pull request closed"
        run: echo "Pull request was closed!"
