name: "Multi Event Pipeline Workflow"
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
    types:
        - closed  
jobs:
    on-push: # job name
        if: github.event_name == 'push'
        runs-on: ubuntu-latest
        steps:
            - name: "Running on master push"
              run: echo "Running on master push!"
    on-pull-request: # job name
        if: github.event_name == 'pull_request'
        runs-on: ubuntu-latest
        steps:
            - name: "Running on pull request"
              run: echo "Running on pull request!"  
    on-pull-request-closed: # job name
        if: github.event_name == 'pull_request' && github.event.action == 'closed'
        runs-on: ubuntu-latest
        steps:
            - name: "Running on pull request closed"
              run: echo "Running on pull request closed!"          